.sidenav-left-btn,
.sidenav-right-btn {
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.sidenav-left-btn {
  
  background-image: url("data:image/svg+xml,%3Csvg width='72' height='144' viewBox='0 0 18 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 18C18 27.9411 9.94113 36 6.19888e-06 36L0 17L6.19888e-06 0C9.94113 0 18 8.05887 18 18Z' fill='%23616161'/%3E%3Cpath d='M11 12L4 18.5L11 25' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  left: 0px;
  transform-origin: 0px;
  transform: rotateY(80deg);
  opacity: 0;
}

.sidenav-right-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='72' height='144' viewBox='0 0 18 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.72205e-06 18C5.72205e-06 27.9411 8.05887 36 18 36L18 17L18 0C8.05887 0 5.72205e-06 8.05887 5.72205e-06 18Z' fill='%23616161'/%3E%3Cpath d='M7 12L14 18.5L7 25' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  right: 0px;
  transform-origin: 72px;
  transform: rotateY(80deg);
  opacity: 0;
}

.sidenav-left-btn:hover {
  transform: none;
  opacity: 1;
}
.sidenav-right-btn:hover {
  transform: none;
  opacity: 1;
}

